#mainnav {
    background: linear-gradient(180deg, #a6b3ff, #d8defe);
}

#mainnav a:hover {
    color: #1739fe
}

.dropdown-menu {
    background: linear-gradient(180deg, #a6b3ff, #d8defe);
}

.dropdown-menu :hover {
    background:#a6b3ff;
}


body {
    font-family: Nunito, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple; 
    overflow-x: hidden;
}


